/* reset valori */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Intestazione - barra logo/link/login */

/* container barra logo/link/login */

.flex-container {


    display: flex;
    justify-content: center;
    background-color: rgb(44, 151, 197);

}

.navbar {

font-family: Arial, Helvetica, sans-serif;
    border: 2px dashed black;
    justify-content: center;
    background-color: rgb(255, 200, 0);
    margin: 20px;
    width: 15%;
    text-align: left;
    margin-right: 0px;


}

.content {

    font-family: Arial, Helvetica, sans-serif;
    border: 2px dashed black;
    justify-content: center;
    background-color: rgb(255, 200, 0);
    margin: 20px;
    width: 40%;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}

.side {

    font-family: Arial, Helvetica, sans-serif;
    border: 2px dashed black;
    justify-content: center;
    background-color: rgb(255, 200, 0);
    margin: 20px;
    width: 15%;
    text-align: right;
    margin-left: 0px;

}


/* container singolo parte iniziale main */

.boxed-top {

    background-color: rgb(12, 12, 163);
    height: 200px;
    padding: 10px;
    
}


/* container parte centrale main (in alto) */

.flex-container-top {
color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 87, 238);
    height: 160px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    width: 50%;
    border: 2px dashed black
}

.boxed-center-top {

    background-color: white;
    height: 200px;
    padding-top: 20px;
    
}

/* container parte centrale main (al centro) */

.flex-container-center-top {

    display: flex;
    justify-content: center;
    background-color: white;
    height: 160px;
    

}

.columnsx {
color: transparent;
    background-color: blue;
    min-width: 35%;
    border: 2px dashed black
}

.columndx {
color: transparent;
    background-color: rgb(255, 157, 207);
    min-width: 25%;
    border: 2px dashed black
}


.boxed-center-mid {

    background-color: rgb(209, 209, 209);
    height: 200px;
    padding-top: 10px;

}



/* parte centrale */

/* container parte centrale main (al centro) */

.flex-container-center-mid {

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 160px;
    margin-top: 10px;

}

.columnsx {

    background-color: blue;
    min-width: 35%;
    border: 2px dashed black

}

.columndx {

    background-color: rgb(255, 157, 207);
    min-width: 25%;
    border: 2px dashed black
}



/* container parte centrale main (in basso) */

.flex-container-mid-bottom {

    display: flex;
    justify-content: center;
    background-color: white;
    height: 160px;
    margin-bottom: 15px;
    margin-top: 15px;

}

.columnsx {

    background-color: blue;
    min-width: 35%;
    border: 2px dashed black
}

.columndx {

    background-color: rgb(255, 157, 207);
    min-width: 25%;
    border: 2px dashed black
}

.boxed-bottom {

    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(209, 209, 209)
   
}


/* container singolo parte finale main */

.flex-container-bottom {

color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    width: 50%;
    background-color: rgb(4, 160, 66);
border: 2px dashed black


}

/* piè di pagina */

/* container 5 colonne prima parte del footer */

.flex-container-bottom-columns {

    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    height: 500px;


}



.bottom-columnsx {
    border: 2px dashed black;
color: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(255, 144, 144);
    width: 18%;
}



.bottom-column-centersx {

    border: 2px dashed white;
    color: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(6, 207, 194);
    width: 8%;
    
}

.bottom-columnsx-center {

    border: 2px dashed white;
    color: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(6, 207, 194);
    width: 8%;
}

.bottom-column-centerdx {

border: 2px dashed white;
color: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(6, 207, 194);
    width: 8%;
}

.bottom-columndx {

    border: 2px dashed white;
    color: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(6, 207, 194);
    width: 8%;
}


/* container barra logo/bottone */

#flex-container-bottom-end {

    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    background-color: rgb(44, 44, 44);
    padding-right: 20px;

}

.sx {

font-family: Arial, Helvetica, sans-serif;
    border: 2px dashed black;
    justify-content: center;
    background-color: rgb(255, 144, 144);
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
    margin-right: 0px;
    position: absolute;
    padding-right: 50px;
    left: 368px;

}

.center {

    
color: transparent;
    justify-content: center;
    background-color: rgb(110, 237, 237);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 51%;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    height: 60px;
}

.dx {

    font-family: Arial, Helvetica, sans-serif;
    border: 2px dashed black;
    justify-content: center;
    background-color: rgb(255, 144, 144);
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: right;
    margin-left: 0px;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    right: 388px;
}

